@page "/AddSurvey"

@using Survey.Persistence
@using Survey.Domain.Models
@using WebComponents

@inject SurveyRepository Repo
@inject NavigationManager NavManager

<h3 style="text-align: center; width: auto">Новый опрос</h3>
<div>
    <div style="margin: 15px auto; max-width: 500px">
        <MudTextField @bind-Value="_newSurvey.Name" Placeholder="Название" T="string"></MudTextField>
        <MudTextField @bind-Value="_newSurvey.Author" Placeholder="Автор" T="string"></MudTextField> 
        <MudTextField @bind-Value="_newSurvey.Description" Lines="5" Placeholder="Описание"></MudTextField>
        <MudButton OnClick="Submit" Style="margin-top: 15px" Variant="Variant.Outlined" Color="Color.Primary">Добавить</MudButton>
    </div>
    <div style="margin: 15px auto; max-width: 500px">
        <h3>Поля опроса</h3>
        <MudButton Size="Size.Small" Variant="Variant.Outlined" Style="margin-bottom: 15px" OnClick="AddSurveyField">
            Добавить поле
        </MudButton>
        @foreach (var field in _newSurvey.Items)
        {
            <SurveyItemField />
        }
    </div>
</div>


@code {
    
    readonly Survey _newSurvey = new() {Id = Guid.NewGuid().ToString(), Items = new List<SurveyItem>()};
    
    async Task Submit()
    {
        _newSurvey.CreatedAt = DateTime.Now;
        await Repo.AddSurvey(_newSurvey);
        NavManager.NavigateTo("/", true);
    }

    private void AddSurveyField()
    {
        _newSurvey.Items.Add(new SurveyItem());
    }

}