@page "/AddSurvey"

@using Surveyor.Persistence
@using Surveyor.Domain.Models 
@using WebComponents
@using Microsoft.AspNetCore.Components

@inject SurveyRepository Repo
@inject NavigationManager NavManager

<h3 style="text-align: center; width: auto">Новый опрос</h3>
<div class="row">
    <div class="col-md-6" style="margin: 15px auto; max-width: 500px">
        <MudTextField @bind-Value="_newSurvey.Name" Placeholder="Название" T="string"></MudTextField>
        <MudTextField @bind-Value="_newSurvey.Author" Placeholder="Автор" T="string"></MudTextField> 
        <MudTextField @bind-Value="_newSurvey.Description" Lines="5" Placeholder="Описание"></MudTextField>
    </div>
    <div class="col-md-6" style="margin: 15px auto; max-width: 500px">
        <h5>Поля опроса</h5>
        @* <MudButton Size="Size.Small" Variant="Variant.Outlined" Style="margin-bottom: 15px" OnClick="AddSurveyField"> *@
        @*     Добавить поле *@
        @* </MudButton> *@
        <div class="row" style="margin-left: -10px ;">
            @foreach (var field in _newSurvey.Items)
            {
                <MudCard Elevation="3" Outlined="true" Style="  margin: 10px; padding: 5px">
                    <span style="font-size: x-small; color: darkgray">Вопрос: </span><span style="font-size: x-small"> @field.Name</span><br/>
                    <span style="font-size: x-small; color: darkgray">Тип: </span><span style="font-size: x-small">@FieldTypeToString(field)</span>
                </MudCard>
            }
        </div>
        <SurveyItemField Item="new SurveyItem { Id = Guid.NewGuid().ToString(), Options = string.Empty }" OnSubmit="(args) => AddNewField(args)" />
        <div class="row" style="margin: 15px auto; max-width: 500px">
            <MudButton OnClick="Submit" Style="margin-top: 15px" Variant="Variant.Outlined" Color="Color.Primary">Сохранить</MudButton>
        </div>
    </div>
    
</div>  

@code { 
    readonly Survey _newSurvey = new() {Id = Guid.NewGuid().ToString(), Items = new List<SurveyItem>()}; 

    async Task Submit()
    {
        _newSurvey.CreatedAt = DateTime.Now;
        await Repo.AddSurvey(_newSurvey);
        NavManager.NavigateTo("/", true);
    }

    private  void AddNewField(SurveyItem field)
    {
        _newSurvey.Items.Add(field);
    }

    static string FieldTypeToString(SurveyItem field)
    {
        return field.Type switch
        {
            ItemType.Text => "Текст",
            ItemType.List => "Список",
            ItemType.YesNo => "Да / нет"
        };
    }
 
}