@page "/"
@using Surveyor.Domain.Models
@using Surveyor.Persistence
@using WebComponents

@inject SurveyRepository Repo 
@inject NavigationManager _navManager

<div class="container">
     
    @if (_items.Count > 0)
    {
        <div class="row">
            <div class="col-md-4 ">
                @foreach (var survey in _items)
                {
                    <div style="min-width: 200px; border: none">
                        <MudCard Elevation=2 Class="hoverable-card" Style="margin: 0 15px 15px ;border-radius: 10px; cursor: pointer">
                            <MudCardHeader @onclick="() => SetItem(survey)">
                                <h5>@survey.Name</h5>
                            </MudCardHeader> 
                        </MudCard>
                    </div>
                }
            </div>
            <div class="col-md-8">
                @if (!string.IsNullOrEmpty(_targetSurvey.Name))
                {
                    <MudCard Elevation="3" Outlined="true" Style="padding: 10px; ">
                        <SurveyPreview IsSubmittable="true" OnSubmit="PassSurvey" Item="@_targetSurvey" />
                    </MudCard>
                }
            </div>
        </div>
    }
</div>

@code{ 
    List<Survey> _items = new();
    Survey _targetSurvey = new();
    protected override async Task OnInitializedAsync()
    {
        _items = await Repo.GetAllSurveysAsync();
    } 

    void SetItem(Survey targetItem)
    {
        _targetSurvey = targetItem;
    } 

    private void PassSurvey()
    {
         
    }

}