@namespace WebComponents
<div style="text-align: right; margin-bottom: 15px">
    <span style="color: gray; font-weight: bold">Автор: @Text</span>
</div>
@code {
    [Parameter]
    public string Text { get; set; }
}