@using Surveyor.Domain.Models 
@namespace WebComponents
@inject NavigationManager NavManager

<h3 style="color: darkgray; text-align: right">@Item.Name</h3>
<Author Text="@Item.Author"/>
<h5 style="font-weight: lighter">@Item.Description</h5>
<MudDivider Light="true" Style="margin: 20px auto"/>
@if (IsSubmittable)
{
    <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="() => PassSurvey(Item.Id)">Пройти опрос</MudButton>
}
@code {
    #nullable disable
    [Parameter]
    public Survey Item { get; set; }
    [Parameter]
    public bool IsSubmittable { get; set; }
    [Parameter]
    public EventCallback<Survey> OnSubmit { get; set; }

    void PassSurvey(string target)
    {
        NavManager.NavigateTo("/passTheSurvey/" + target);
    }
}