@using Microsoft.AspNetCore.Components
@using Surveyor.Domain.Models
 
@namespace WebComponents

<div style="margin-bottom: 15px">
    <MudPaper style="padding: 5px 15px 15px 15px " Elevation="2">
        <MudText Typo="Typo.subtitle2" Style="font-size: small ;color: darkgray">Новое поле</MudText>
        <MudTextField T="string" HelperText="Вопрос" @bind-Value="Item!.Name"/>
        <MudSelect ToStringFunc="(args) => Converter(args)" HelperText="Тип поля" @bind-Value="Item!.Type">

            <MudSelectItem Value="ItemType.Text">Текст</MudSelectItem>
            <MudSelectItem Value="ItemType.List">Список</MudSelectItem>
            <MudSelectItem Value="ItemType.YesNo">Да / Нет</MudSelectItem>
        </MudSelect>
        @if (Item.Type == ItemType.List)
        {
            <MudTextField T="string" @bind-Value="Item.Options" HelperText="Варианты ответов (каждый с новой строки)" Lines="5"/>
        }
        <MudButton OnClick="Submit" Size="Size.Small" Variant="Variant.Filled" Color="Color.Primary">Добавить</MudButton>
    </MudPaper>
</div>

@code { 
    [Parameter]
    public SurveyItem? Item { get; set; }
    [Parameter]
    public EventCallback<SurveyItem> OnSubmit { get; set; } 
    private string Converter<T>(T arg)
    {
        return arg switch
        {
            0 => "Список",
            1 => "Текст",
            2 => "Да / Нет",
            _ => "Список"
            };
    }

    private void Submit()
    {
        Item!.Id = Guid.NewGuid().ToString(); 
        OnSubmit.InvokeAsync(Item);
    }

}